body {
    font-family: 'Kaushan Script', cursive;
    background-image: url(https://i.stack.imgur.com/jGlzr.png);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div{
    color:#1D285E;
    position: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 23px;
}
h2{
    color: darkgreen;
    text-align: center;
}
h3{
    color: white;
}

li {
    color: #FFF;
    background-color: #333;
    text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}

